{% extends "base.html" %}
{% block content %}

<section class="match-details">
    <div class="container">

        <h1 class="page-title">rEm01 vs BLDSH</h1>
        <h3 class="match-score win-text">Победа 13:0</h3>

        <div class="teams-wrapper">

            <!-- НАША КОМАНДА -->
            <div class="team-box our-team">
                <h2>rEm01 (Атака)</h2>

                <table>
                    <tr>
                        <th>Игрок</th>
                        <th>K</th>
                        <th>D</th>
                        <th>A</th>
                        <th>Счёт</th>
                        <th>Пинг</th>
                    </tr>

                    <tr class="mvp">
                        <td>morn1ng</td>
                        <td>23</td>
                        <td>2</td>
                        <td>4</td>
                        <td>48</td>
                        <td>55</td>
                    </tr>

                    <tr>
                        <td>LinZeSS</td>
                        <td>18</td>
                        <td>3</td>
                        <td>5</td>
                        <td>39</td>
                        <td>62</td>
                    </tr>

                    <tr>
                        <td>Weigh</td>
                        <td>11</td>
                        <td>3</td>
                        <td>2</td>
                        <td>25</td>
                        <td>44</td>
                    </tr>

                    <tr>
                        <td>rÂp</td>
                        <td>8</td>
                        <td>2</td>
                        <td>2</td>
                        <td>20</td>
                        <td>72</td>
                    </tr>

                    <tr>
                        <td>YT M1wky</td>
                        <td>5</td>
                        <td>8</td>
                        <td>7</td>
                        <td>18</td>
                        <td>220</td>
                    </tr>

                </table>
            </div>

            <!-- ПРОТИВНИКИ -->
            <div class="team-box enemy-team">
                <h2>BLDSH (Оборона)</h2>

                <table>
                    <tr>
                        <th>Игрок</th>
                        <th>K</th>
                        <th>D</th>
                        <th>A</th>
                        <th>Счёт</th>
                        <th>Пинг</th>
                    </tr>

                    <tr>
                        <td>Crylg</td>
                        <td>8</td>
                        <td>0</td>
                        <td>13</td>
                        <td>16</td>
                        <td>83</td>
                    </tr>

                    <tr>
                        <td>Rewar3 x 12</td>
                        <td>6</td>
                        <td>2</td>
                        <td>13</td>
                        <td>14</td>
                        <td>60</td>
                    </tr>

                    <tr>
                        <td>Uzi 120fps</td>
                        <td>2</td>
                        <td>0</td>
                        <td>13</td>
                        <td>4</td>
                        <td>82</td>
                    </tr>

                    <tr>
                        <td>KARWEL</td>
                        <td>2</td>
                        <td>0</td>
                        <td>13</td>
                        <td>4</td>
                        <td>123</td>
                    </tr>

                    <tr>
                        <td>madsy</td>
                        <td>1</td>
                        <td>1</td>
                        <td>13</td>
                        <td>3</td>
                        <td>55</td>
                    </tr>

                </table>
            </div>

        </div>

    </div>
</section>

{% endblock %}