{% extends "base.html" %}
{% block content %}

<section class="matches-page">
    <div class="container">

        <h1 class="page-title">Сыгранные матчи</h1>

        <div class="matches-grid">

            <a href="{{ url_for('match1') }}" class="match-card win">
                <h2>rEm01 vs Eriv</h2>
                <p>Rust | Россия</p>
                <span class="score">Победа 13:7</span>
            </a>

            <a href="{{ url_for('match2') }}" class="match-card win">
                <h2>rEm01 vs BLDSH</h2>
                <p>Province | Россия</p>
                <span class="score">Победа 13:0</span>
            </a>

        </div>

    </div>
</section>

{% endblock %}