{% extends "base.html" %}
{% block content %}

<section class="section">
    <h1 class="section-title">rEm01 13:0 BLDSH</h1>

    <div class="match-card win">

        <table class="stats-table">
            <tr>
                <th>Игрок</th>
                <th>K</th>
                <th>D</th>
                <th>A</th>
                <th>Money</th>
                <th>Ping</th>
            </tr>

            <tr>
                <td>morn1ng</td>
                <td>23</td>
                <td>2</td>
                <td>4</td>
                <td>3600$</td>
                <td>55</td>
            </tr>

            <tr>
                <td>LinZeSS</td>
                <td>18</td>
                <td>3</td>
                <td>5</td>
                <td>3800$</td>
                <td>62</td>
            </tr>

            <tr>
                <td>Weigh</td>
                <td>11</td>
                <td>3</td>
                <td>2</td>
                <td>3900$</td>
                <td>44</td>
            </tr>

            <tr>
                <td>rÂp</td>
                <td>8</td>
                <td>2</td>
                <td>2</td>
                <td>3900$</td>
                <td>72</td>
            </tr>

            <tr>
                <td>YT M1wky</td>
                <td>5</td>
                <td>8</td>
                <td>7</td>
                <td>3300$</td>
                <td>220</td>
            </tr>

        </table>

    </div>
</section>

{% endblock %}