{% extends "base.html" %}
{% block content %}

<section class="section">
    <h1 class="section-title">rEm01 13:7 Eriv</h1>

    <div class="match-card win">

        <table class="stats-table">
            <tr>
                <th>Игрок</th>
                <th>K</th>
                <th>D</th>
                <th>A</th>
                <th>Money</th>
                <th>Ping</th>
            </tr>

            <tr>
                <td>LinZeSS</td>
                <td>22</td>
                <td>5</td>
                <td>12</td>
                <td>4700$</td>
                <td>55</td>
            </tr>

            <tr>
                <td>Weigh</td>
                <td>20</td>
                <td>3</td>
                <td>11</td>
                <td>4100$</td>
                <td>39</td>
            </tr>

            <tr>
                <td>YT M1wky</td>
                <td>18</td>
                <td>6</td>
                <td>12</td>
                <td>3600$</td>
                <td>71</td>
            </tr>

            <tr>
                <td>morn1ng</td>
                <td>17</td>
                <td>1</td>
                <td>12</td>
                <td>5100$</td>
                <td>48</td>
            </tr>

            <tr>
                <td>rÂp</td>
                <td>14</td>
                <td>2</td>
                <td>11</td>
                <td>3700$</td>
                <td>69</td>
            </tr>

        </table>

    </div>
</section>

{% endblock %}