{% extends "base.html" %}
{% block content %}

<section class="match-details">
    <div class="container">

        <h1 class="page-title">rEm01 vs Eriv</h1>
        <h3 class="match-score win-text">Победа 13:7</h3>

        <div class="teams-wrapper">

            <!-- НАША КОМАНДА -->
            <div class="team-box our-team">
                <h2>rEm01 (Атака)</h2>

                <table>
                    <tr>
                        <th>Игрок</th>
                        <th>K</th>
                        <th>D</th>
                        <th>A</th>
                        <th>Счёт</th>
                        <th>Пинг</th>
                    </tr>

                    <tr class="mvp">
                        <td>LinZeSS</td>
                        <td>22</td>
                        <td>5</td>
                        <td>12</td>
                        <td>53</td>
                        <td>55</td>
                    </tr>

                    <tr>
                        <td>Weigh</td>
                        <td>20</td>
                        <td>3</td>
                        <td>11</td>
                        <td>48</td>
                        <td>39</td>
                    </tr>

                    <tr>
                        <td>YT M1wky</td>
                        <td>18</td>
                        <td>6</td>
                        <td>12</td>
                        <td>44</td>
                        <td>71</td>
                    </tr>

                    <tr>
                        <td>morn1ng</td>
                        <td>17</td>
                        <td>1</td>
                        <td>12</td>
                        <td>43</td>
                        <td>48</td>
                    </tr>

                    <tr>
                        <td>rÂp</td>
                        <td>14</td>
                        <td>2</td>
                        <td>11</td>
                        <td>30</td>
                        <td>69</td>
                    </tr>

                </table>
            </div>

            <!-- ПРОТИВНИКИ -->
            <div class="team-box enemy-team">
                <h2>Eriv (Оборона)</h2>

                <table>
                    <tr>
                        <th>Игрок</th>
                        <th>K</th>
                        <th>D</th>
                        <th>A</th>
                        <th>Счёт</th>
                        <th>Пинг</th>
                    </tr>

                    <tr>
                        <td>Sh1zzz1k</td>
                        <td>14</td>
                        <td>1</td>
                        <td>16</td>
                        <td>36</td>
                        <td>60</td>
                    </tr>

                    <tr>
                        <td>d3xxxy</td>
                        <td>13</td>
                        <td>1</td>
                        <td>19</td>
                        <td>36</td>
                        <td>71</td>
                    </tr>

                    <tr>
                        <td>Серега шустрый</td>
                        <td>3</td>
                        <td>3</td>
                        <td>19</td>
                        <td>14</td>
                        <td>38</td>
                    </tr>

                </table>
            </div>

        </div>

    </div>
</section>

{% endblock %}