{% extends "base.html" %}
{% block content %}

<h1 class="page-title">Правила команды</h1>

<div class="rules">
    <h3>Голосовой чат</h3>
    <ul>
        <li>Играем строго по информации</li>
        <li>Без дизморали</li>
        <li>Не перебивать ведущего</li>
        <li>Фулл фокус перед матчем</li>
    </ul>

    <h3>Подготовка</h3>
    <ul>
        <li>Зарядить девайс</li>
        <li>Подготовить наушники</li>
    </ul>

    <h3>Тренировки</h3>
    <ul>
        <li>Адекватное поведение</li>
        <li>Выполнение тактик</li>
        <li>Дисциплина обязательна</li>
    </ul>
</div>

{% endblock %}